/*-------fonts------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Podkova&family=Roboto+Slab&family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Podkova&family=Roboto+Slab&family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');


/*-------null------------------------------------*/


* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: roboto;
  }
  
  a {
	text-decoration: none;
  }
  a:hover {
	text-decoration: none;
	color: inherit;
  }
  
  ul, ol, li {
	list-style: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: 10px;
  }
  
  span {
	white-space: nowrap;
  }
  
  .wrapper {
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
  }

  /*-------text------------------------------------*/

  p {
	  font-family: montserrat;
	  font-size: 20px;
	  color: #000;
  }

  h1 {
	  font-family: podkova;
	  font-size: 100px;
	  color: #000;
  }

  h2 {
	font-family: montserrat;
	font-size: 50px;
	color: #000;
}


/*-------container------------------------------------*/


._container {
	max-width: 1140px;
	margin: 0px auto;
	padding: 0px 20px;
}

@media (max-width: 1139px){
  
}

@media (max-width: 989px){
  
}

@media (max-width: 767px) {
  
}

@media (max-width: 459px) {
  
}


/*-------header------------------------------------*/


.header {
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__block {
}
.header__logo {
}
.header__rightBlock {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__rightBlock a {
	margin-left: 25px;
}



/*-------main------------------------------------*/

.mainPage {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.mainPage__logo {
	position: relative;

}
.logo_text {
	position: absolute;
	top: 35%;
	left: 7%;
	/* margin: -13% 0 0 1.5%; */
	
}
.mainPage__arrow {
	position: relative;
}
.arrow__top {
	position: absolute;
	right: -4px;
	top: -10px;
	width: 30px;
	height: 2px;
	border-radius: 1px;
	background-color: #000;
	transform: rotate(45deg);
}
.arrow__center {
	width: 120px;
	height: 2px;
	border-radius: 1px;
	background-color: #000;
}
.arrow__bottom {
	position: absolute;
	right: -4px;
	bottom: -10px;
	width: 30px;
	height: 2px;
	border-radius: 1px;
	background-color: #000;
	transform: rotate(-45deg);
}
.mainPage__text {
}















/*-------footer------------------------------------*/

.footer {
	margin-top: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__line {
	background-color: #000;
	width: 100%;
	height: 2px;
	margin-bottom: 20px;
}

.footer_text {
	text-align: center;
}